:root {
  --hemo-color-primary: #bb0a08;
  --hemo-color-primary-dark: #8a0000;
  --hemo-color-primary-light-2: #e93c3c;
  --hemo-color-primary-light-1: #ff6262;
  --hemo-color-secondary: #f2f2f2;
  --hemo-color-success: #2ac769;
  --hemo-color-warn: #f6a609;
  --hemo-color-text-secondary: #25282b;
  --hemo-color-text-secondary-opaque: rgba(37, 40, 43, 0.2);
  --hemo-color-text-primary: #f2f2f2;
  --black-100: #25282b;
}

html,
body {
  background-color: var(--hemo-color-secondary);
  color: var(--hemo-color-text-secondary);
  margin: 0;
  padding: 0;
  overflow-x: -moz-hidden-unscrollable;
  overflow-x: clip;
  font-family: "Roboto", "Lato", monospace, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
